<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" <%= link_to 'Register', new_user_registration_path %></a></p>
  </div>
</div>

<h1>Recent Samples</h1>
<p>Put 5 most recent samples here</p>
